.main__title {
    font: var(--headline4);
    color: var(--color-dark);
    text-align: center;

    margin-block-start: 0;
    margin-block-end: 3.2rem;
}

@media only screen and (min-width: 760px) {
    .main__title {
        font: var(--headline3);
        inline-size: 44.5rem;
    }
}