@import "./__logo/header__logo.css";
@import "./__logo-img/header__logo-img.css";
@import "./__main/header__main.css";
@import "./__hero-left/header__hero-left.css";
@import "./__hero-left-img/header__hero-left-img.css";
@import "./__hero-right/header__hero-right.css";
@import "./__hero-right-img/header__hero-right-img.css";
@import "./__content/header__content.css";
@import "./__title/header__title.css";
@import "./__text/header__text.css";
@import "./__btns/header__btns.css";
@import "./__btn-primary/header__btn-primary.css";
@import "./__btn-secondary/header__btn-secondary.css";

.header {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    inline-size: 100%;
}