.header__hero-left-img {
    block-size: 100%;
    margin-inline-end: calc((100vw*8)/375);
}

@media only screen and (min-width: 760px) {
    .header__hero-left-img {
        margin-inline-end: calc((100vw*16)/768);
        max-block-size: 30.3rem;
    }
}

@media only screen and (min-width: 1250px) {
    .header__hero-left-img {
        margin-inline-end: 0;
        position: absolute;
        right: 0.0rem;
    }
}