.main__num {
    font: 900 1.6rem/2.6rem var(--font-base);
    color: hsla(240, 10%, 57%, 100%);
    border: 1px solid hsla(240, 10%, 57%, 25%);
    border-radius: 50%;
    background-color: #FAFAFA;

    inline-size: 5.6rem;
    block-size: 5.6rem;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main__num::after {
    position: absolute;
    bottom: 100%;
    left: calc(50% - 1px);
    
    width: 0.1rem;
    height: 8.4rem;
    
    background-color: hsla(240, 10%, 57%, 25%);
    content: "";
}